In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
%matplotlib inline

from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [6]:
#load the dataset
cosmetics_df = pd.read_csv("D:\MLRS\Data Mining & Predictive Analytics_Classes_2017-18\DMPA_Data for association rule\Cosmetics.csv")
cosmetics_df.head()

,Trans.,Bag,Blush,Nail Polish,Brushes,Concealer,Eyebrow Pencils,Bronzer,Lip liner,Mascara,Eye shadow,Foundation,Lip Gloss,Lipstick,Eyeliner
0,1,0,1,1,1,1,0,1,1,1,0,0,0,0,1
1,2,0,0,1,0,1,0,1,1,0,0,1,1,0,0
2,3,0,1,0,0,1,1,1,1,1,1,1,1,1,0
3,4,0,0,1,1,1,0,1,0,0,0,1,0,0,1
4,5,0,1,0,0,1,0,1,1,1,1,0,1,1,0

In [10]:
cosmetics_df.drop('Trans. ',inplace = True, axis = 1)

In [11]:
frequent_itemsets = apriori(cosmetics_df, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Blush),(Nail Polish),0.363,0.280,0.123,0.338843,1.210153,0.021360,1.089000
1,(Nail Polish),(Blush),0.280,0.363,0.123,0.439286,1.210153,0.021360,1.136051
2,(Brushes),(Blush),0.149,0.363,0.070,0.469799,1.294211,0.015913,1.201430
3,(Blush),(Brushes),0.363,0.149,0.070,0.192837,1.294211,0.015913,1.054311
4,(Blush),(Concealer),0.363,0.442,0.220,0.606061,1.371178,0.059554,1.416462

In [13]:
#load the dataset
coursetopic_df = pd.read_csv("D:\MLRS\Data Mining & Predictive Analytics_Classes_2017-18\DMPA_Data for association rule\coursetopic.csv")
coursetopic_df.head()

   Intro  DataMining  Survey  Cat Data  Regression  Forecast  DOE  SW
0      1           1       0         0           0         0    0   0
1      0           0       1         0           0         0    0   0
2      0           1       0         1           1         0    0   1
3      1           0       0         0           0         0    0   0
4      1           1       0         0           0         0    0   0

In [15]:
frequent_itemsets = apriori(coursetopic_df, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Survey),(Cat Data),0.186301,0.208219,0.063014,0.338235,1.62442,0.024222,1.196469
1,(Cat Data),(Survey),0.208219,0.186301,0.063014,0.302632,1.62442,0.024222,1.166813
2,(Regression),(Cat Data),0.208219,0.208219,0.054795,0.263158,1.26385,0.011439,1.074560
3,(Cat Data),(Regression),0.208219,0.208219,0.054795,0.263158,1.26385,0.011439,1.074560
4,(SW),(Cat Data),0.221918,0.208219,0.063014,0.283951,1.36371,0.016806,1.105763

In [17]:
#load the dataset
retail_df = pd.read_csv("D:\MLRS\Data Mining & Predictive Analytics_Classes_2017-18\DMPA_Data for association rule\market basket.csv")
retail_df.head()

,cardid,value,pmethod,sex,homeown,income,age,fruitveg,freshmeat,dairy,cannedveg,cannedmeat,frozenmeal,beer,wine,softdrink,fish,confectionery
0,39808,42.7123,CHEQUE,M,NO,27000,46,F,T,T,F,F,F,F,F,F,F,T
1,67362,25.3567,CASH,F,NO,30000,28,F,T,F,F,F,F,F,F,F,F,T
2,10872,20.6176,CASH,M,NO,13200,36,F,F,F,T,F,T,T,F,F,T,F
3,26748,23.6883,CARD,F,NO,12200,26,F,F,T,F,F,F,F,T,F,F,F
4,91609,18.8133,CARD,M,YES,11000,24,F,F,F,F,F,F,F,F,F,F,F

In [18]:
retail_df.drop(['cardid','value','pmethod','sex','homeown','income','age'],inplace = True, axis = 1)

In [21]:
for i in retail_df.columns:
    retail_df[i] = retail_df[i].apply(lambda x: 0 if (x == 'F') else 1 )

In [22]:
frequent_itemsets = apriori(retail_df, min_support=0.05, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.2)
rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(fruitveg),(fish),0.299,0.292,0.145,0.484950,1.660787,0.057692,1.374623
1,(fish),(fruitveg),0.292,0.299,0.145,0.496575,1.660787,0.057692,1.392463
2,(cannedveg),(frozenmeal),0.303,0.302,0.173,0.570957,1.890586,0.081494,1.626877
3,(frozenmeal),(cannedveg),0.302,0.303,0.173,0.572848,1.890586,0.081494,1.631736
4,(cannedveg),(beer),0.303,0.293,0.167,0.551155,1.881075,0.078221,1.575154

In [23]:
retail_df

,fruitveg,freshmeat,dairy,cannedveg,cannedmeat,frozenmeal,beer,wine,softdrink,fish,confectionery
0,0,1,1,0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,0,0,1
2,0,0,0,1,0,1,1,0,0,1,0
3,0,0,1,0,0,0,0,1,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,1,0,0,0,0,0,0,0
996,0,0,0,1,0,0,0,0,0,1,0
997,0,1,0,0,0,0,0,0,0,0,0
998,1,0,0,0,0,0,0,1,0,0,1
999,0,0,1,0,0,0,0,0,1,0,1